div.footer-container
  div.container-footer-logo.container-flex-row
    div
      img(src="/assets/images/logo.png")
    div
      span.upper-text red de
      br
      span.footer-title Oficinas
    div
      span.upper-text bogotá
      br
      span.footer-title 650 1000
    div
      span.upper-text línea nacional
      br
      span.footer-title 01 8000 919918
    div.social-network
      img(src="/assets/images/social-networks.png")
  
  div.container-servicios-footer.container-flex-row
    div.footer-list1.container-flex-row
      div.para-personas.container-flex-row
        div
          ul.list-footer
            li
              span Ahorros
            li
              a Adquirencia
            li
              a CDT
            li
              a Cuenta Corrientes
            li
              a Cuenta de ahorros
          ul.list-footer
            li
              span Préstamos
            li
              a Crédito de Libre inversión
            li
              a Crédito de Vehículos
            li
              a Crédito de Libranza
            li
              a Crédito Educativo
            li
              a Crédito Seguros  
        div
          ul.list-footer
            li
              span Tarjeta de crédito
            li
              a Marca Compartida Allianz
            li
              a Visa Clásica
            li
              a Visa Gold
            li
              a Visa Platinum
            li
              a Paga Fácil  
          ul.list-footer
            li
              span Servicios
            li
              a Pichincha Box
            li
              a Pago tarjeta de crédito
            li
              a Pago crédito personal
            li
              a Recarga tarjeta prepago
          ul.list-footer
            li
              a Experiencias Pichincha
      div.para-empresas.container-flex-row
        div
          ul.list-footer
            li
              span Inversión y Liquidez
            li
              a CDT
            li
              a Cuenta Corriente
            li
              a Cuenta de Ahorros
          ul.list-footer
            li
              span Servicios
            li
              a Pichincha Box
            li
              a Pago tarjeta de crédito
            li
              a Pago crédito prepago
            li
              a Portal Empresarial
          ul.list-footer
            li
              span Accesos
            li
              a Accesos inverprimas
            li
              a Acceso Plan Mayor
            li
              a Acceso Asesores
            li
              a Educativo
            li
              a Acceso partners                        
        div
          ul.list-footer
            li
              span Financiaciones
            li
              a Línea de Redescuento
            li
              a Crédito Tesorería
            li
              a Crédito Cartera Ordinaria
          ul.list-footer
            li
              span Tarjeta de crédito
            li
              a Negocio
            li
              a Pyme
            li
              a Empresarial
          ul.list-footer
            li
              a Experiencias Pichincha

    div.footer-list2.container-flex-row
      div
        ul.list-footer
          li
            span Banco Pichincha
          li
            a Quiénes somos
          li
            a Atención a Inversionistas
          li
            a Información Financiera
          li
            a Gobierno Corporativo
          li
            a Responsabilidad Social
          li
            a Trabaje con Nosotros
          li
            a Biblioteca de documentos     
      div
        ul.list-footer
          li
            span Información de interés
          li
            a Noticias
          li
            a Recomendaciones de Seguridad
          li
            a Tasas y Tarifas
          li
            a Red de Oficinas
        ul.list-footer
          li
            span Servicio al cliente
          li
            a Contáctenos
          li
            a Consumidor Financiero
          li
            a Defensor del Consumidor
          li
            a Educación Financier
    
  div.footer-datos-contacto.container-flex-row
    p
      span Dirección General:
      |  Cra. 11 No. 92-09
    p
      span PBX:
      |  (1) 6501050/6501010
    p Horario Fin de mes hasta las 4:30 en todo el país            

  div.footer-copyright.container-flex-row
    div
      p Copyright 2016 - Banco Pichincha S.A.
    div
      a Mapa del sitio
      a Política de privacidad
      a Términos y condiciones
      a Aviso de privacidad

  div.imagen-footer
    img(src="/assets/images/superintendencia.png")