div
  div.container-flex-row.main-menu
    div
      a.upper-text.active(ng-click="activeLink($event)") personas
    div
      a.upper-text(ng-click="activeLink($event)") empresas
    div
      a(ng-click="activeLink($event)")
        span.menu-oficinas
        | Oficinas
    div
      a(ng-click="activeLink($event)")
        span.menu-servicio
        | Servicio al cliente
    div
      a(ng-click="activeLink($event)")
        span.menu-contacto
        | Contáctanos
    div
      a(ng-click="activeLink($event)")
        span.menu-llama
        | Llámanos 6 50 100 | 01 800 919918
    div
      a.upper-text(ng-click="activeLink($event)")
        span.menu-cliente
        | hazte cliente
    div
      a.upper-text(ng-click="activeLink($event)")
        span.menu-area
        | área clientes

  div.container-logo
    img(src="/assets/images/logo-banco-pichincha.svg")

  div.container-flex-row.secondary-menu
    div
      a.upper-text
        span.secondary-menu-ahorros
        | ahorros e
        br
        | inversión
      ul.list-submenu
        li
          a Submenu 1 inversión
        li
          a Submenu 1 inversión
        li
          a Submenu 1 inversión    
    div
      a.upper-text
        span.secondary-menu-tc
        | tarjetas de
        br
        | crédito
      ul.list-submenu
        li
          a Submenu 1 tarjeta
        li
          a Submenu 1 tarjeta
        li
          a Submenu 1 tarjeta  
    div
      a.upper-text
        span.secondary-menu-prestamos
        | préstamos
      ul.list-submenu
        li
          a Submenu 1 préstamos
        li
          a Submenu 1 préstamos
        li
          a Submenu 1 préstamos  
    div
      a.upper-text
        span.secondary-menu-servicios
        | servicios
      ul.list-submenu
        li
          a Submenu 1 servicios
        li
          a Submenu 1 servicios
        li
          a Submenu 1 servicios       
    div
      a.upper-text
        span.secondary-menu-experiencias
        | experiencias
        br
        | pichincha
      ul.list-submenu
        li
          a Submenu 1 experiencias
        li
          a Submenu 1 experiencias
        li
          a Submenu 1 experiencias    